label{
    display: block;
    font-size: var(--rs-component-label-md-regular-font-size) !important;
    font-weight: var(--rs-component-label-md-regular-font-weight) !important;
    line-height: var(--rs-component-label-md-regular-line-height) !important;
    letter-spacing: var(--rs-component-label-md-regular-letter-spacing) !important;
    text-transform: var(--rs-component-label-md-regular-text-case) !important;
    color: var(--rs-semantic-color-text-default) !important;

    // Margin reference missing in data
    margin-bottom: 5px !important;

    &.medium {
        font-size: var(--rs-component-label-md-regular-font-size) !important;
        font-weight: var(--rs-component-label-md-regular-font-weight) !important;
        line-height: var(--rs-component-label-md-regular-line-height) !important;
        letter-spacing: var(--rs-component-label-md-regular-letter-spacing) !important;
        text-transform: var(--rs-component-label-md-regular-text-case) !important;
        &.is-emphasized{
            font-size: var(--rs-component-label-md-medium-font-size) !important;
            font-weight: var(--rs-component-label-md-medium-font-weight) !important;
            line-height: var(--rs-component-label-md-medium-line-height) !important;
            letter-spacing: var(--rs-component-label-md-medium-letter-spacing) !important;
            text-transform: var(--rs-component-label-md-medium-text-case) !important;
            text-decoration: var(--rs-component-label-md-medium-text-decoration) !important;
        }
    }
    &.small {
        font-size: var(--rs-component-label-sm-regular-font-size) !important;
        font-weight: var(--rs-component-label-sm-regular-font-weight) !important;
        line-height: var(--rs-component-label-sm-regular-line-height) !important;
        letter-spacing: var(--rs-component-label-sm-regular-letter-spacing) !important;
        text-transform: var(--rs-component-label-sm-regular-text-case) !important;
        text-decoration: var(--rs-component-label-sm-regular-text-case) !important;
    }
        &.is-emphasized{
            font-size: var(--rs-component-label-sm-medium-font-size) !important;
            font-weight: var(--rs-component-label-sm-medium-font-weight) !important;
            line-height: var(--rs-component-label-sm-medium-line-height) !important;
            letter-spacing: var(--rs-component-label-sm-medium-letter-spacing) !important;
            text-transform: var(--rs-component-label-sm-medium-text-case) !important;
            text-decoration: var(--rs-component-label-sm-medium-text-decoration) !important;
        }
}

.v-input{
    // TODO - find solution for input field spacing – look into stacks
    margin-bottom: 1.1rem !important;

    transition: .2s !important;
    &:hover, &:focus{
        transition: .2s !important;
        input, &.v-input__slot {
            transition: .2s !important;
        }
    }

    input {
        color: var(--rs-component-text-field-default-text-color) !important;
        transition: .2s !important;
        &::placeholder{
            color: var(--rs-component-text-field-default-placeholder-color) !important;
        }
    }
    &__slot{
        transition: .2s !important;
        background: var(--rs-component-text-field-default-background-color) !important;
        border: var(--rs-component-text-field-border-width-default) solid var(--rs-component-text-field-default-border-color);
        box-shadow: var(--rs-component-text-field-shadow-default-x)  var(--rs-component-text-field-shadow-default-y) var(--rs-component-text-field-shadow-default-blur) var(--rs-component-text-field-shadow-default-spread) var(--rs-component-text-field-shadow-default-color) !important;
        margin-bottom: 0 !important;
    }
    &__control{
        min-height: unset !important;
    }
    &__prepend-inner{
        padding: 0 !important;
    }
    &__icon--prepend-inner{
        min-width: unset !important;
        width: unset !important;
        height: unset !important;
        svg, i {
            color: var(--rs-component-text-field-default-icon-color) !important;
        }
    }

    // States
    &:hover{
        input {
            color: var(--rs-component-text-field-hover-text-color) !important;
            &::placeholder{
                color: var(--rs-component-text-field-hover-placeholder-color) !important;
            }
        }
        .v-input__slot{
            background: var(--rs-component-text-field-hover-background-color) !important;
            border: var(--rs-component-text-field-border-width-default) solid var(--rs-component-text-field-hover-border-color);
        }
        .v-input__icon--prepend-inner svg, .v-input__icon--prepend-inner i {
            color: var(--rs-component-text-field-hover-icon-color) !important;
        }
    }
    
    &--is-focused{
        input {
            color: var(--rs-component-text-field-focus-text-color) !important;
            &::placeholder{
                color: var(--rs-component-text-field-focus-placeholder-color) !important;
            }
        }
        .v-input__slot{
            @extend .focus-ring;
            background: var(--rs-component-text-field-focus-background-color) !important;
            border: var(--rs-component-text-field-border-width-default) solid var(--rs-component-text-field-focus-border-color);
        }
        .v-input__icon--prepend-inner svg, .v-input__icon--prepend-inner i{
            color: var(--rs-component-text-field-focus-icon-color) !important;
        }
    }
    
    &--is-disabled {
        pointer-events: none;
        .v-input__slot{
            border: var(--rs-component-text-field-border-width-default) solid var(--rs-component-text-field-disabled-border-color);
            background: var(--rs-component-text-field-disabled-background-color) !important;
        }
        input{
            color: var(--rs-component-text-field-disabled-text-color) !important;
            &::placeholder{
                color: var(--rs-component-text-field-disabled-placeholder-color) !important;
            }
        }
        .v-input__icon--prepend-inner svg, .v-input__icon--prepend-inner i {
            color: var(--rs-component-text-field-disabled-icon-color) !important;
        }
    }
    
    &.error--text{
        input {
            color: var(--rs-component-text-field-error-text-color) !important;
            &::placeholder{
                color: var(--rs-component-text-field-error-placeholder-color) !important;
            }
        }
        .v-input__slot{
            background: var(--rs-component-text-field-error-background-color) !important;
            border: var(--rs-component-text-field-border-width-default) solid var(--rs-component-text-field-error-border-color);
        }
        .v-input__icon--prepend-inner svg, .v-input__icon--prepend-inner i {
            color: var(--rs-component-text-field-error-icon-color) !important;
        }
    }

    // Help text
    .v-messages{
        color: var(--rs-semantic-color-text-subdued) !important;
        font-weight: var(--rs-component-help-text-text-font-weight) !important;
        line-height: var(--rs-component-help-text-text-line-height) !important;
        font-size: var(--rs-component-help-text-text-font-size) !important;
        letter-spacing: var(--rs-component-help-text-text-letter-spacing) !important;
        text-transform: var(--rs-component-help-text-text-text-case) !important;
        text-decoration: var(--rs-component-help-text-text-text-decoration) !important;
    }
    .v-text-field__details {
        padding-left: 0 !important;
        margin-top: var(--rs-component-help-text-padding-t);
    }

    // Sizing
    &.medium{
        .v-input__slot {
            height: var(--rs-component-text-field-md-height);
            padding-left: var(--rs-component-text-field-md-padding-x) !important;
            padding-right: var(--rs-component-text-field-md-padding-x) !important;
            gap: var(--rs-semantic-space-between-comp-md);
        }
        .v-input__icon--prepend-inner {
            i {
                font-size: var(--rs-semantic-size-comp-sm) !important;
            }
            svg{
                height: var(--rs-semantic-size-comp-sm) !important;
                width: var(--rs-semantic-size-comp-sm) !important;
            }
        }
    }
    &.small{
        .v-input__slot {
            height: var(--rs-component-text-field-sm-height);
            padding-left: var(--rs-component-text-field-sm-padding-x) !important;
            padding-right: var(--rs-component-text-field-sm-padding-x) !important;
            gap: var(--rs-semantic-space-between-comp-sm);
        }
        .v-input__icon--prepend-inner {
            i {
                font-size: var(--rs-semantic-size-comp-xs) !important;
            }
            svg{
                height: var(--rs-semantic-size-comp-xs) !important;
                width: var(--rs-semantic-size-comp-xs) !important;
            }
        }
    }
}

.split-field {
    display: flex;
    .left-field{
        border-radius: var(--rs-component-text-field-border-radius-default) var(--rs-component-text-field-border-radius-split-field) var(--rs-component-text-field-border-radius-split-field) var(--rs-component-text-field-border-radius-default);
        &:hover {
            z-index: 1;
        }
    }
    .right-field{
        margin-left: calc(var(--rs-component-text-field-border-width-default) * -1) !important;
        border-radius:  var(--rs-component-text-field-border-radius-split-field) var(--rs-component-text-field-border-radius-default) var(--rs-component-text-field-border-radius-default) var(--rs-component-text-field-border-radius-split-field);
        &:hover {
            z-index: 1;
        }
    }
}

// TODO - find solution for input field spacing – look into stacks
.top-bar {
    .v-input{
        margin-bottom: 0 !important;
    }
    
}