
.v-btn {
    transition: .2s !important;
    min-width: 0 !important;
    &:hover, &:focus{
        transition: .2s !important;
    }
    &:before {
        opacity: 0 !important;
    }

    // Sizing
    &.v-size--small{
        padding: var(--rs-component-button-sm-default-padding-y) var(--rs-component-button-sm-default-padding-x) !important;
        font-size: var(--rs-component-button-sm-label-font-weight) !important;
        line-height: var(--rs-component-button-sm-label-line-height) !important;
        font-size: var(--rs-component-button-sm-label-font-size) !important;
        letter-spacing: var(--rs-component-button-sm-label-letter-spacing) !important;
        text-decoration: var(--rs-component-button-sm-label-text-decoration) !important;
        text-transform: var(--rs-component-button-sm-label-text-case) !important;
        .v-icon {
            height: var(--rs-button-size-icon-sm) !important;
            width: var(--rs-button-size-icon-sm) !important;
        }
        .v-btn__content{
            gap: var(--rs-component-button-sm-space-between);
        }
    }
    &.v-size--medium, &.v-size--default{
        padding: var(--rs-component-button-md-default-padding-y) var(--rs-component-button-md-default-padding-x) !important;
        font-size: var(--rs-component-button-md-label-font-weight) !important;
        line-height: var(--rs-component-button-md-label-line-height) !important;
        font-size: var(--rs-component-button-md-label-font-size) !important;
        letter-spacing: var(--rs-component-button-md-label-letter-spacing) !important;
        text-decoration: var(--rs-component-button-md-label-text-decoration) !important;
        text-transform: var(--rs-component-button-md-label-text-case) !important;
        .v-icon {
            height: var(--rs-button-size-icon-md) !important;
            width: var(--rs-button-size-icon-md) !important;
        }
        .v-btn__content{
            gap: var(--rs-component-button-md-space-between);
        }
    }
    &.v-size--large{
        padding: var(--rs-component-button-lg-default-padding-y) var(--rs-component-button-lg-default-padding-x) !important;
        font-size: var(--rs-component-button-lg-label-font-weight) !important;
        line-height: var(--rs-component-button-lg-label-line-height) !important;
        font-size: var(--rs-component-button-lg-label-font-size) !important;
        letter-spacing: var(--rs-component-button-lg-label-letter-spacing) !important;
        text-decoration: var(--rs-component-button-lg-label-text-decoration) !important;
        text-transform: var(--rs-component-button-lg-label-text-case) !important;
        .v-icon {
            height: var(--rs-button-size-icon-lg) !important;
            width: var(--rs-button-size-icon-lg) !important;
        }
        .v-btn__content{
            gap: var(--rs-component-button-lg-space-between);
        }
    }

    // Variants
    &.primary {
        background-color: var(--rs-component-button-primary-default-background-color) !important;
        color: var(--rs-component-button-primary-default-text-color) !important;
        .v-icon {
            color: var(--rs-component-button-primary-default-icon-color) !important;
        }
        
        &:hover {
            background-color: var(--rs-component-button-primary-hover-background-color) !important;
            color: var(--rs-component-button-primary-hover-text-color) !important;
            .v-icon {
                color: var(--rs-component-button-primary-hover-icon-color) !important;
            }
        }
        &:active {
            background-color: var(--rs-component-button-primary-pressed-background-color) !important;
            color: var(--rs-component-button-primary-pressed-text-color) !important;
            .v-icon {
                color: var(--rs-component-button-primary-pressed-icon-color) !important;
            }
        }
        &:focus-visible {
            background-color: var(--rs-component-button-primary-focus-background-color) !important;
            color: var(--rs-component-button-primary-focus-text-color) !important;
            @extend .focus-ring;
            .v-icon {
                color: var(--rs-component-button-primary-focus-icon-color) !important;
            }
        }
        &.v-btn--disabled{
            background-color: var(--rs-component-button-primary-disabled-background-color) !important;
            color: var(--rs-component-button-primary-disabled-text-color) !important;
            .v-icon {
                color: var(--rs-component-button-primary-disabled-icon-color) !important;
            }
        }
    }
    &.secondary {
        background-color: var(--rs-component-button-secondary-default-background-color) !important;
        color: var(--rs-component-button-secondary-default-text-color) !important;
        &:hover {
            background-color: var(--rs-component-button-secondary-hover-background-color) !important;
            color: var(--rs-component-button-secondary-hover-text-color) !important;
        }
        &:active {
            background-color: var(--rs-component-button-secondary-pressed-background-color) !important;
            color: var(--rs-component-button-secondary-pressed-text-color) !important;
        }
        &:focus-visible {
            background-color: var(--rs-component-button-secondary-focus-background-color) !important;
            color: var(--rs-component-button-secondary-focus-text-color) !important;
            @extend .focus-ring
        }
        &.v-btn--disabled{
            background-color: var(--rs-component-button-secondary-disabled-background-color) !important;
            color: var(--rs-component-button-secondary-disabled-text-color) !important;
        }
    }
    &.tertiary {
        background-color: var(--rs-component-button-tertiary-default-background-color) !important;
        color: var(--rs-component-button-tertiary-default-text-color) !important;
        &:hover {
            background-color: var(--rs-component-button-tertiary-hover-background-color) !important;
            color: var(--rs-component-button-tertiary-hover-text-color) !important;
        }
        &:active {
            background-color: var(--rs-component-button-tertiary-pressed-background-color) !important;
            color: var(--rs-component-button-tertiary-pressed-text-color) !important;
        }
        &:focus-visible {
            background-color: var(--rs-component-button-tertiary-focus-background-color) !important;
            color: var(--rs-component-button-tertiary-focus-text-color) !important;
            @extend .focus-ring
        }
        &.v-btn--disabled{
            background-color: var(--rs-component-button-tertiary-disabled-background-color) !important;
            color: var(--rs-component-button-tertiary-disabled-text-color) !important;
        }
    }
    &.ghost {
        background-color: var(--rs-component-button-ghost-default-background-color) !important;
        color: var(--rs-component-button-ghost-default-text-color) !important;
        &:hover {
            background-color: var(--rs-component-button-ghost-hover-background-color) !important;
            color: var(--rs-component-button-ghost-hover-text-color) !important;
        }
        &:active {
            background-color: var(--rs-component-button-ghost-pressed-background-color) !important;
            color: var(--rs-component-button-ghost-pressed-text-color) !important;
        }
        &:focus-visible {
            background-color: var(--rs-component-button-ghost-focus-background-color) !important;
            color: var(--rs-component-button-ghost-focus-text-color) !important;
            @extend .focus-ring
        }
        &.v-btn--disabled{
            background-color: var(--rs-component-button-ghost-disabled-background-color) !important;
            color: var(--rs-component-button-ghost-disabled-text-color) !important;
        }
    }
    // Btn w. dropdown
    .arrow-icon.menuActive {
        transform: rotate(180deg);
    }
}