.v-card {
    max-width: 700px;
    border: var(--rs-semantic-border-width-default) solid var(--rs-semantic-color-border-subdued) !important;
    background-color: var(--rs-semantic-color-surface-default) !important;

    box-shadow: var(--rs-semantic-shadow-md-0-x) var(--rs-semantic-shadow-md-0-y) var(--rs-semantic-shadow-md-0-blur) var(--rs-semantic-shadow-md-0-spread) var(--rs-semantic-shadow-md-0-color),
                var(--rs-semantic-shadow-md-1-x) var(--rs-semantic-shadow-md-1-y) var(--rs-semantic-shadow-md-1-blur) var(--rs-semantic-shadow-md-1-spread) var(--rs-semantic-shadow-md-1-color)
                !important;
    &__title {
        color: var(--rs-semantic-color-text-default) !important;
    }
    &__subtitle {
        color: var(--rs-semantic-color-text-subdued) !important;
    }
    &__actions {
        justify-content: flex-end;
    }
}
.v-divider {
    border-color: var(--rs-semantic-color-border-divider) !important;
}