.v-menu__content {
    margin-top: 2px;
    box-shadow: var--(rs-semantic-shadow-lg-0-x) var--(rs-semantic-shadow-lg-0-y) var--(rs-semantic-shadow-lg-0-blur) var--(rs-semantic-shadow-lg-0-spread) var--(rs-semantic-shadow-lg-0-color), var--(rs-semantic-shadow-lg-1-x) var--(rs-semantic-shadow-lg-1-y) var--(rs-semantic-shadow-lg-1-blur) var--(rs-semantic-shadow-lg-1-spread) var--(rs-semantic-shadow-lg-1-color) !important;
    border: var--(rs-semantic-border-width-default) solid var--(rs-semantic-color-border-subdued) !important;
    border-radius: var--(rs-semantic-border-radius-default) !important;

    .v-list-item{
        &__content{
            color: var--(rs-semantic-color-text-default);
            font-weight: var--(rs-semantic-text-md-regular-font-weight) !important;
            line-height: var--(rs-semantic-text-md-regular-line-height) !important;
            font-size: var--(rs-semantic-text-md-regular-font-size) !important;
            letter-spacing: var--(rs-semantic-text-md-regular-letter-spacing) !important;    
        }
        &--active{
            background: var--(rs-semantic-color-surface-active);
        }
    }
}