.v-select {
    .v-input__append-inner {
        padding-left: 0 !important;
    }
    .v-input__icon {
        width: var(--rs-semantic-size-comp-sm) !important;
        height: var(--rs-semantic-size-comp-sm) !important;
        min-width: unset !important;
    }
    .v-input__icon--append, .v-input__icon--clear {
            display: flex;
            svg {
                width: var(--rs-semantic-size-comp-sm) !important;
                height: var(--rs-semantic-size-comp-sm) !important;
            }
    }
    &--is-menu-active{
        .v-input__icon--append, .v-input__icon--clear{
                svg {
                    color: var(--rs-component-text-field-default-icon-color) !important;
                }
        }
    }
    &.v-input--is-focused {
        .v-input__icon--append, .v-input__icon--clear{
            svg {
                color: var(--rs-component-text-field-default-icon-color) !important;
            }
        }
    }
}

.v-select-list {
    background: var(--rs-semantic-color-surface-default) !important;
}
