.v-select {
    .v-icon{
        &__component {
            display: flex;
            width: var(--rs-semantic-size-comp-xxs);
            height: var(--rs-semantic-size-comp-xxs);
            svg {
                color: var(--rs-component-text-field-default-icon-color) !important;
            }
        }
    }
    &--is-menu-active{
        .v-input__icon--append{
                svg {
                    color: var(--rs-component-text-field-default-icon-color) !important;
                }
        }
    }
    &.v-input--is-focused {
        .v-input__icon--append{
            svg {
                color: var(--rs-component-text-field-default-icon-color) !important;
            }
        }
    }
}

.v-select-list {
    background: var(--rs-semantic-color-surface-default) !important;
}
