.v-select {
    .v-icon{
        &__component {
            display: flex;
            width: $rs-semantic-size-comp-xxs;
            height: $rs-semantic-size-comp-xxs;
            svg {
                color: $rs-component-text-field-default-icon-color !important;
            }
        }
    }
    &--is-menu-active{
        .v-input__icon--append{
                svg {
                    color: $rs-component-text-field-default-icon-color !important;
                }
        }
    }
    &.v-input--is-focused {
        .v-input__icon--append{
            svg {
                color: $rs-component-text-field-default-icon-color !important;
            }
        }
    }
}

.v-select-list {
    background: $rs-semantic-color-surface-default !important;
}
