$btn-text-transform: var(--rs-semantic-text-case-buttons);
$btn-font-weight: var(--rs-component-button-sm-label-font-weight);
$btn-rounded-border-radius: var(--rs-component-button-border-radius-default);
$btn-round-border-radius: var(--rs-component-button-border-radius-default);
$btn-border-radius: var(--rs-component-button-border-radius-default);
$btn-letter-spacing: var(--rs-component-button-md-label-letter-spacing);
$btn-focus-opacity: 1;
$btn-hover-opacity: 1;
$btn-active-opacity: 1;

$btn-font-sizes:(
    'small': var(--rs-component-button-sm-label-font-size),
    'medium': var(--rs-component-button-md-label-font-size),
    'large': var(--rs-component-button-lg-label-font-size),
);