// Design tokens missing
$card-actions-padding: 16px;

$card-title-font-size: var(--rs-semantic-text-lg-semi-bold-font-size);
$card-title-font-weight: var(--rs-semantic-text-lg-semi-bold-font-weight);
$card-title-line-height: var(--rs-semantic-text-lg-semi-bold-line-height);
$card-title-letter-spacing: var(--rs-semantic-text-lg-semi-bold-letter-spacing);

$card-text-font-size: var(--rs-semantic-text-md-regular-font-size);
$card-text-font-weight: var(--rs-semantic-text-md-regular-font-weight);
$card-text-line-height: var(--rs-semantic-text-md-regular-line-height);
$card-text-letter-spacing: var(--rs-semantic-text-md-regular-letter-spacing);

$material-light: ( cards: var(--rs-semantic-color-surface-default) );
$material-dark: ( cards: var(--rs-semantic-color-surface-default) );

$card-border-radius: var(--rs-semantic-border-radius-default);