// Design tokens missing
$card-actions-padding: 16px;

$card-title-font-size: $rs-semantic-text-lg-semi-bold-font-size;
$card-title-font-weight: $rs-semantic-text-lg-semi-bold-font-weight;
$card-title-line-height: $rs-semantic-text-lg-semi-bold-line-height;
$card-title-letter-spacing: $rs-semantic-text-lg-semi-bold-letter-spacing;

$card-text-font-size: $rs-semantic-text-md-regular-font-size;
$card-text-font-weight: $rs-semantic-text-md-regular-font-weight;
$card-text-line-height: $rs-semantic-text-md-regular-line-height;
$card-text-letter-spacing: $rs-semantic-text-md-regular-letter-spacing;

$material-light: ( cards: $rs-semantic-color-surface-default );

$card-border-radius: $rs-semantic-border-radius-default;