$input-font-size: $rs-component-text-field-md-text-font-size;
$input-max-height: $rs-component-text-field-md-height;
$input-letter-spacing: $rs-component-text-field-md-text-letter-spacing;
$text-field-line-height: $rs-component-text-field-md-text-line-height;
$text-field-border-radius: $rs-component-text-field-border-radius-default;