$input-font-size: var(--rs-component-text-field-md-text-font-size);
$input-max-height: var(--rs-component-text-field-md-height);
$input-letter-spacing: var(--rs-component-text-field-md-text-letter-spacing);
$text-field-line-height: var(--rs-component-text-field-md-text-line-height);
$text-field-border-radius: var(--rs-component-text-field-border-radius-default);