$tab-font-weight: var(--rs-component-tab-item-text-font-weight);
$tab-line-height: var(--rs-component-tab-item-text-line-height);
$tab-font-size: var(--rs-component-tab-item-text-font-size);
$tabs-item-letter-spacing: var(--rs-component-tab-item-text-letter-spacing);
$tabs-bar-background-color: transparent;
$tabs-item-padding: var(--rs-component-tab-item-padding-x) var(--rs-component-tab-item-padding-y);
$tabs-bar-height: unset;