$sizes: "xs", "sm", "md", "lg", "xl";
$spacing: "xxs", "xs", "sm", "md", "lg", "xl";

.stack {
    display: flex;
    flex: 1 1 auto;
    
    // Direction
    &.vertical {
        flex-direction: column;
    }
    &.horizontal {
        flex-direction: row;
    }

    // Direction - responsive classes
    @each $size in $sizes {
        &.#{$size}-vertical{
            @media (min-width: map-get($breakpoints, $size)) {
                flex-direction: column;
            }
        }
        &.#{$size}-horizontal{
            @media (min-width: map-get($breakpoints, $size)) {
                flex-direction: row;
            }
        }
    }

    // Spacing
    @each $space in $spacing {
        &.space-#{$space}{
            gap: var(--rs-semantic-space-between-pattern+'-'+#{$space});
        }

        // Spacing - responsive classes
        @each $size in $sizes {
            &.#{$size}-space-#{$space}{
                @media (min-width: map-get($breakpoints, $size)) {
                    gap: var(--rs-semantic-space-between-pattern+'-'+#{$space});
                }
            }
        }

    }
}
